<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.booking.dao.BookingMapper">
	
  	<!-- 전체/검색 목록 -->
  	<select id="selectEventByArtistId" parameterType="map"
  	                           resultType="eventVO">
  		SELECT
  		  *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT 
  		              *
  		            FROM performance_detail d LEFT OUTER JOIN 
  		                 performance_hall h
  		            ON d.hall_num = h.hall_num
  		            ORDER BY d.reg_date DESC NULLS LAST)a)
  		WHERE artist_num=#{user_num}            
  		<![CDATA[
  		AND rnum >= #{start} AND rnum <= #{end}
  		]]>
  	</select>
  	
  	<!-- 전체/검색 레코드수 -->
  	<select id="selectEventRowCount" parameterType="map"
  	                               resultType="integer">
  		SELECT
  		  COUNT(*)
  		FROM performance_detail d LEFT OUTER JOIN performance_hall h
  		ON d.hall_num = h.hall_num WHERE artist_num=#{user_num}
  	</select>
  	<insert id="registerBookingInfo" parameterType="BookingVO">
  		INSERT INTO booking(
  			booking_num,
  			perf_num,
  			user_num,
  			booked_seat,
  			total_price,
  			booking_date,
  			seat_num1,
  			seat_num2,
  			name,
  			phone,
  			name2,
  			phone2,
  			deliver_name,
  			zipcode,
  			address1,
  			address2,
  			request)
  		VALUES (
  			booking_seq.nextval,
  			#{perf_num},
  			#{user_num},
  			#{booked_seat},
  			#{total_price},
  			sysdate,
  			#{seat_num1},
  			#{seat_num2},
  			#{name},
  			#{phone},
  			#{name2},
  			#{phone2},
  			#{deliver_name},
  			#{zipcode},
  			#{address1},
  			#{address2},
  			#{request, jdbcType=VARCHAR})
  	</insert>
</mapper>