<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.booking.dao.BookingMapper">
	
  	<!-- 전체/검색 목록 -->
  	<select id="selectEventByArtistId" parameterType="map"
  	                           resultType="eventVO">
  		SELECT *
    	FROM (
        SELECT a.*, rownum rnum
        FROM (  
            SELECT *
            FROM performance_detail d
            LEFT OUTER JOIN performance_hall h ON d.hall_num = h.hall_num
            WHERE d.artist_num = #{user_num}
            <if test="status != null">
                AND d.perf_status = #{status}
            </if>
            <if test="startDate != null and endDate != null">
                AND d.perf_date BETWEEN #{startDate} AND #{endDate}
            </if>
            ORDER BY d.reg_date DESC NULLS LAST
        	) a
    	)
    	WHERE rnum BETWEEN #{start} AND #{end}
  	</select>
  	
  	<!-- 전체/검색 레코드수 -->
  	<select id="selectEventRowCount" parameterType="map"
  	                               resultType="integer">
  		SELECT
  		  COUNT(*)
  		FROM performance_detail d LEFT OUTER JOIN performance_hall h
  		ON d.hall_num = h.hall_num WHERE artist_num=#{user_num}
  	</select>
  	<insert id="registerBookingInfo" parameterType="BookingVO">
  		INSERT INTO booking(
  			booking_num,
  			perf_num,
  			user_num,
  			booked_seat,
  			total_price,
  			booking_date,
  			seat_num1,
  			seat_num2,
  			name,
  			phone,
  			name2,
  			phone2,
  			deliver_name,
  			zipcode,
  			address1,
  			address2,
  			request)
  		VALUES (
  			booking_seq.nextval,
  			#{perf_num},
  			#{user_num},
  			#{booked_seat},
  			#{total_price},
  			sysdate,
  			#{seat_num1},
  			#{seat_num2},
  			#{name},
  			#{phone},
  			#{name2},
  			#{phone2},
  			#{deliver_name},
  			#{zipcode},
  			#{address1},
  			#{address2},
  			#{request, jdbcType=VARCHAR})
  	</insert>
  	
  	
  	
  	<insert id="registerEvent" parameterType="EventVO">
  		INSERT INTO performance_detail(
  			perf_num,
  			hall_num,
  			artist_num,
  			perf_date,
  			perf_time,
  			perf_status,
  			perf_title,
  			perf_desc,
  			ticket_price,
  			book_date,
  			end_date,
  			booking_deadline,
  			mem_date,
  			end_time,
  			perf_photo,
  			reg_date
  		) 
  		VALUES(
  			perf_detail_seq.nextval,
  			#{hall_num},
  			#{artist_num},
  			#{perf_date},
  			#{perf_time},
  			'before',
  			#{perf_title},
  			#{perf_desc},
  			#{ticket_price},
  			#{book_date},
  			#{end_date},
  			#{booking_deadline},
  			#{mem_date},
  			#{end_time},
  			#{perf_photo},
  			sysdate
  		)
  	</insert>
  	<update id="updatePerformanceStatus">
    	<![CDATA[ 
    	UPDATE performance_detail
			SET perf_status = 
    		CASE
        	WHEN TRUNC(SYSDATE) < TO_DATE(book_date, 'YYYY-MM-DD') THEN 
        	CASE
        	WHEN TRUNC(SYSDATE) = TO_DATE(mem_date, 'YYYY-MM-DD') THEN 'membership'
        	ELSE 'before'
        	END
        	WHEN TRUNC(SYSDATE) BETWEEN TO_DATE(book_date, 'YYYY-MM-DD') AND NVL(TO_DATE(booking_deadline, 'YYYY-MM-DD'), TO_DATE(book_date, 'YYYY-MM-DD')) THEN 'ongoing'
        	WHEN TRUNC(SYSDATE) > NVL(TO_DATE(end_date, 'YYYY-MM-DD'), TO_DATE(perf_date, 'YYYY-MM-DD')) THEN 'over'
        	ELSE perf_status
        END
    	]]>
	</update>
</mapper>