/* 
===============================
           공통
===============================
 */
.right-align{
	display:flex;
	align-items:flex-end;
	justify-content:flex-end;
}

a {
    text-decoration: none;
    color: inherit;       
}

.btn-back{
	color:white;
}
.main-container {
  background-color: black;
  height: auto;
  
}

.content-container {
  background-color: white;
  width: 86.8vw;
  height: auto;
}

.listcontent-container {
  display: flex; 
  flex-wrap: wrap; 
  gap: 1vw; 
  justify-content: space-between; 
  align-items: flex-start; 
  background-color: white;
  width: 86.8vw;
  height: auto;
  margin: 0 auto; 
  padding: 1vw; 
}

.item-card {
   object-fit: cover;
    width: 13vw; /* 화면 너비의 13% */
    height: 35vh; /* 화면 높이의 35% */
    padding: 1vw; /* 화면 너비의 1% */
    background-color: #fff;
    border-radius: 1vw; /* 화면 너비의 1% */
    box-shadow: 0 1vw 1.5vw rgba(0, 0, 0, 0.1); /* 뷰포트 비율 기반 */
    color:black;
}


.custom-hr{
   border: none;
    height: 1px;
    background: rgb(216, 216, 216); 
    position: relative;
    width: 100%;
    box-shadow: 0 1vw 1.5vw rgba(0, 0, 0, 0.1);
   
}


/* 교환/반품 규정  */
.policy-title {
    font-weight: bold; /* 진하게 */
    font-size: 16px;  /* 폰트 크기 16px */
}

.policy-content {
    font-size: 16px; /* 폰트 크기 16px */
    line-height: 1.6; /* 줄 간격 */
}

.main-items{
	width:100%;
	background:black;
	color:white;
}

.value-list{
	display:flex;
	align-items:center;
	gap:2rem;	
}

.ck-editor__editable_inline{
min-height:250px;
}



.ckeditor-img{
	width:40vw;
	height:40vw;
}
/*
상품 수정
*/

.file-submit{
	display:none;
}

.upload-btn{
	width:8vw;
	height:2vw;
	border:1px solid black;
	background:white;
	border-radius:10px;
	font-size:1vw;
}

.items-img{
	width:20vw;
	height:20vw;
	border:1px solid black;
}

