.profile-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.profile-item {
	position: relative;
    text-align: center;
    width: calc(20% - 20px); /* 한 줄에 5개 배치 (20%) - 간격 고려 */
    box-sizing: border-box; 
}

.profile-image {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.my-photo {
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.profile-text {
	margin-top: 10px;
	text-align: center;
}

.group-name, .artist-name {
	display: block;
}

/* 멤버십 가입부분 */
.membership-title {
    font-size: 16pt;
    color: black;
}

.artist-name {
    font-size: 20pt;
    color: skyblue;
    font-weight: bold; /* 추가적으로 강조하려면 bold를 추가할 수 있습니다. */
}

.individual-name {
    font-size: 20pt;
    color: skyblue;
    font-weight: bold;
}