/* 
===============================
			  공통
===============================
 */
 
 
 
 
/* 폰트 설정 ======================*/
.font-white{
	color:white;
}

.bold-title{
	font-weight:bold;
}


/* 공통 배경색 ====================*/
.background-black{
	background:black;
}

/* 정렬 설정 ====================*/

.display-flex{
	display:flex;	
}

.align-center{
	display:flex;
	align-items:center;
	justify-content:center;
}

.align-right{
	display:flex;
	align-items:flex-end;
	justify-content:flex-end;
}

.align-left{
	display:flex;
	align-items:flex-start;
	justify-content:flex-start;
}

.vertical-center{
	display:flex;
	align-items:center;
}

.left-10{
	margin-left:10%;
}

/* 크기 설정 ====================*/
.width-50{
	width:50%;
}
.width-80{
	width:80%;
}
.width-20{
	width:20%;
}



/* 
===============================
		  아티스트 메인
===============================
 */

 .main-artist{
 	width:100%;
 	height:100%;
 }
 
 .a-title{
 	height:10vw;
 	font-size:4vw;
 }
 
 .aList-container{
 	background:blue;
 	width:80%;
 	margin:5% auto;
 }
 
 .aList-items{
 	width:20vw;
 	height:20vw;
 	background:yellow;
 }
 
 
 /* 
===============================
		  아티스트 상세
===============================
 */
 .artist-detail{
 	width:80%;
 	margin:0 auto;
 }
 
 
 .a-mainpic{
 	width:95%;
 	margin:0 auto;
 	background:yellow;
 	height:400px;
 }
 
 .a-fandom{
 	margin-top:5%;
 	font-size:2vw;
 }
 
 .premium-hr{
 	width:40%;
 }
 
 .premium-btn{
 	height:3vw;
 }
 
 .a-desc{
 	margin-top:3%;
 	font-size:1vw;
 	height:10vw;
 	background:purple;
 }
 
 .detail-premium-container{
 	display:flex;
 }
 
 .premium-item {
 	font-size:1vw;
 	width:5vw;
 	height:3vw;
 	margin:auto;
 	font-weight:bold;
 	color:white;
 }
 