<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace ="kr.spring.chat.dao.ChatMapper">

	<!--채팅방 만들기 -->
	<insert id ="insertChatroom" parameterType="chatVO">
	
		INSERT INTO chatroom(
		chat_num,
		chat_name,
		chat_status
		) VALUES (
		chatroom_seq.nextval,
		#{chat_name},
		1)
		
	</insert>

	<!-- 아티스트 정보 중간테이블에 넣기 -->
	<insert id ="insertAuserInfo" parameterType="chatVO">
	INSERT INTO achat(auser_num, auser_id) 
	VALUES(#{auser_num},
	#{auser_id})

	</insert>
	
	<!-- 아티스트 정보 중간테이블에 넣기 -->
	<insert id ="insertDuserInfo" parameterType="chatVO">
	INSERT INTO dchat(duser_num, duser_id) 
	VALUES (#{duser_num},
	#{duser_id})

	</insert>
	
	<insert id ="insertAuserChat" parameterType="chatVO" >
	INSERT INTO chat chat_num
	VALUES #{chat_num}
	</insert>	




</mapper>