<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace ="kr.spring.chat.dao.ChatMapper">

	<!--채팅방 만들기 -->
	<insert id ="insertChatroom" parameterType="chatVO">
	
		INSERT INTO chatroom(
		chat_num,
		chat_name,
		chat_status
		) VALUES (
		chatroom_seq.nextval,
		#{chat_name},
		1)
		
	</insert>
	<!-- 유료 사용자 정보 중간 테이블에 넣기 -->
	<insert id ="insertDuserInfo">
	INSERT INTO chat (
    chat_user_num,
    chat_num,
    chat_id,
    chat_kind
	)
	SELECT
    user_num,
    (SELECT chat_num FROM chatroom),
    chat_seq.nextval,
    id,
    chat_kind
	FROM duser
	</insert>
	<!-- 아티스트 정보 중간테이블에 넣기 -->
	<insert id ="insertAuserInfo">
	INSERT INTO chat (chat_user_num, chat_num, chat_id, chat_kind)
SELECT #{chat_user_num}, 
       (SELECT chat_num FROM chatroom WHERE ROWNUM = 1), 
       id, 
       1
FROM auser
WHERE NOT EXISTS (
    SELECT 1 
    FROM chat 
    WHERE chat_user_num = #{chat_user_num}
)
	</insert>




</mapper>